<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.musicapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".PlayerService" />
        <!-- <receiver android:name=".PlayerService$Myboradcast"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.exampl.administrator.musicapp.ACTION_MODE"/> -->
        <!-- </intent-filter>> -->
        <!-- </receiver> -->
        <activity android:name=".LrcAcitivity" />
        <activity android:name=".Viewpager.ViewPagerActivity" />
        <activity android:name=".Activity.FirtsActivity"></activity>
        <activity android:name=".Activity.LocalMusicListActivity"></activity>
    </application>

</manifest>
